<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row style="align-items: self-end;">
      <h2>Hola {{user ? user.nombres : "Invitado"}},<br/><span style="font-size: 16px; font-style: italic;">Hagamos una nueva cita</span></h2>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<mat-toolbar style="background-color: white;">
  <mat-toolbar-row>
    <h4 style="color: black;">Selecciona una opcion para agendar una cita: <br></h4>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content content-main">  
  <table style="display: flex; align-items: center; text-align: center;">
    <tr>
      <td matRipple routerLink='/medicosEspecialidad'
      style=" width: 160px; height: 180px; border: 1px; border-color: black; border-style: solid; border-radius: 25px;">
        <tr >
          <td><mat-icon svgIcon="user-med" style="width: 10vh; height: 10vh;"></mat-icon></td>
        </tr>
        <tr>
          <td><span style="font-size: 20px; padding-top: 60px;padding-left: 60px;padding-right: 60px;padding-bottom: 60px;">Medico</span></td>
        </tr>
      </td>
      <td style="width: 40px;"></td>
      <td matRipple routerLink='/especialidad'
      style=" width: 160px; height: 180px; border: 1px; border-color: black; border-style: solid; border-radius: 25px;">
        <tr>
          <td><mat-icon svgIcon="serv-med" style="width: 10vh; height: 10vh;"></mat-icon></td>
        </tr>
        <tr>
          <td><span style="font-size: 20px; padding-top: 60px;padding-left: 35px;padding-right: 35px;padding-bottom: 60px;">Especialidad</span></td>
        </tr>
      </td>
    </tr>
</table>
 
</div>

<router-outlet></router-outlet>