.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background-color: rgba(240, 209, 115);
  background-image: url('../../../assets/img/toolbar_plants.png');
  height: 20vh;
  display: flex;
  align-items: self-end;
  justify-content: center;
  color: #302b2b;
}

.content-main {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;

}

a{
  align-self: self-start;
}


table {
	width:100%;
	//border:1px solid rgb(84, 108, 157);
}

th {
	//display:flex;

	background:#a37eaf;
  color: white;
  text-align: center;
}

.th {
	
	background:#a37eaf;
  color: white;
  text-align: center;
}

tr {

	
	&:nth-of-type(odd) {
		background: rgb(255, 255, 255);
	}
}

td, .header__item {
	flex: 1 1 20%;
  text-align: center;
}

.cdk-column-pacienteId {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

a.button, button {

  text-decoration-line: none;
  justify-content: flex-start;

  background-color: rgb(84, 108, 157);
  color: white;

  border-right-width: 0px;
  border-right-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
  border-left-width: 0px;
  border-left-style: solid;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-radius: 10px;
  padding-top: 4px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 4px;

  transition: background-color 75ms ease-out;

  // change overflowing text to ellipsis
  .text-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}