<p>

  <mat-toolbar color="primary">
    <mat-toolbar-row style="align-items: self-end;">
      <h2>Hola {{user ? user.nombres : "Invitado"}},<br/><span style="font-size: 16px; font-style: italic;">Hagamos una nueva cita</span></h2>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<div class="content content-main" style="display: block;">
  
    <table>
      <tr>
        <td>
          <mat-stepper #stepper>
            <mat-step [stepControl]="firstFormGroup" >
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Configura tu Cita</ng-template>
                <p>&nbsp;</p>
                <h4>La especialidad selecionada es: {{especialidadSelected.nombre}}</h4>
                <p>
                  <mat-form-field style="width: 400px;">
                    <mat-label>Seleciona una sede</mat-label>
                    <mat-select formControlName="firstCtrl" (selectionChange)="obtenerSede($event)" required>
                      <mat-option  *ngFor="let sede of sedes" value="{{sede.sedeId}}">
                        {{sede.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-hint align="end">{{sedeSelected.referencia}}</mat-hint>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field style="width: 400px;">
                    <mat-label>Seleciona una fecha</mat-label>
                    <input matInput formControlName="firstCtrl" [matDatepicker]="datepicker" [disabled]="sedeSelected.sedeId == 0" 
                    (dateChange)="obtenerFecha($event)" required>
                      <mat-hint align="end">dd/mm/yyyy</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                      <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                          <button mat-button matDatepickerCancel>Cancelar</button>
                          <button mat-raised-button color="primary" matDatepickerApply>Seleccionar</button>
                        </mat-datepicker-actions>
                      </mat-datepicker>
                  </mat-form-field>
                </p>
                <mat-chip-listbox (change)="obtenerMedico($event)" formControlName="firstCtrl" [value]="medicoSelected" required>
                  <table>
                    <tr *ngFor="let options of optionsMedicos;">
                      <td >
                          <mat-chip-option [value]="option" aria-label="medicoSelected" *ngFor="let option of options;" style="width: 350px;"
                          [style]="{'border': option.colaPacientes == 9 ? '2px solid rgb(146, 43, 43)' : '2px solid rgb(71, 163, 106)', 
                          'pointer-events': fechaStringSelected == '' || option.colaPacientes == 9 ? 'none' : 'auto' }">
                            <mat-icon svgIcon="user-med"></mat-icon> {{option.nombreCompleto}}{{option.colaPacientes != null ? " - Cola:" + option.colaPacientes : ""}}
                          </mat-chip-option>
                      </td>
                    </tr>
                </table>              
              </mat-chip-listbox>
              <p>
                <button mat-button matStepperNext [disabled]="disabledFirstNext" >Continuar</button>
              </p>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Elige la fecha y hora</ng-template>
                <p>
                  El medico que te atendera es <span style="color: rgb(109, 55, 146)">{{medicoSelected.name}}</span>
                </p>
                <p>
                  <mat-form-field style="width: 400px;">
                    <mat-label>Seleciona una fecha</mat-label>
                    <input matInput formControlName="secondCtrl" [matDatepicker]="datepicker2" [disabled]="sedeSelected.sedeId == 0" 
                    (dateChange)="obtenerFecha($event)" [formControl]="date2" required>
                      <mat-hint align="end">dd/mm/yyyy</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="datepicker2"></mat-datepicker-toggle>
                      <mat-datepicker #datepicker2>
                        <mat-datepicker-actions>
                          <button mat-button matDatepickerCancel>Cancelar</button>
                          <button mat-raised-button color="primary" matDatepickerApply>Seleccionar</button>
                        </mat-datepicker-actions>
                      </mat-datepicker>
                  </mat-form-field>
                </p>
                <p>
                  <mat-chip-listbox (change)="obtenerHora($event)" formControlName="secondCtrl" [value]="" required>
                    <table>
                      <tr>
                        <td>
                          <p>{{obtenerFullDate()}}</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-chip-option *ngFor="let hora of medicoSelected.horasLibres;" 
                            style="border: 2px solid rgb(71, 163, 106);">
                              {{hora < 10 ? '0': ''}}{{hora}}:00
                          </mat-chip-option>
                        </td>
                      </tr>
                    </table>
                    
                  </mat-chip-listbox>
                </p>
                <div>
                  
                  <button mat-button matStepperPrevious>Anterior</button>
                  <button mat-button matStepperNext>Continuar</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
              <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Modo de consulta</ng-template>
                <mat-chip-listbox formControlName="thirdCtrl" required="">
                  <table>
                    <tr>
                      <td>
                        <p>
                          <mat-label>Elige una opcion</mat-label>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>
                          <mat-chip-option style="border: 2px solid rgb(71, 163, 106);height: 50px;">
                            <span>Sin seguro &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - S/.100.00</span>
                          </mat-chip-option>          
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>
                          <mat-chip-option>
                            <span>Agregar seguro</span>
                          </mat-chip-option> 
                        </p>
                      </td>
                    </tr>
                  </table>
                </mat-chip-listbox>
                <div>
                  <button mat-button matStepperPrevious>Anterior</button>
                  <button mat-button matStepperNext>Siguiente</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Confirmar</ng-template>
              <p>
                <span><h2>Resumen de Cita</h2></span>
              </p>
              <p>
                <span style="color: rgb(109, 55, 146);">Especialidad</span>
              </p>
              <p>
                {{especialidadSelected.nombre}}
              </p>
              <p>
                <span style="color: rgb(109, 55, 146);">Medico</span>
              </p>
              <p>
                {{medicoSelected.name}}
              </p>
              <p>
                <span style="color: rgb(109, 55, 146);">Fecha y hora</span>
              </p>
              <p>
                {{obtenerFullDate()}}
              </p>
              <p>
                {{horaStringSelected}}
              </p>
              <p>
                <span style="color: rgb(109, 55, 146);">Asegurador</span>
              </p>
              <p>
                Sin seguro
              </p>
              <p>
                <span style="color: rgb(109, 55, 146);">Pago por cita</span>
              </p>
              <p>
                S/.100.00
              </p>
              <div>
                <button mat-button (click)="stepper.reset()">Cancelar</button>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button (click)="agregarCita(); stepper.reset()" routerLink="/home">Confirmar</button>
              </div>
            </mat-step>
          </mat-stepper>
        </td>
        <td>

        </td>
      </tr>
    </table>      
</div>

<router-outlet></router-outlet>